{%extends 'base.html'%}

 {% block content %}

 <div class="container">
<hr>
   <div class="row">
     <img src="{{image.pic.url}}" style="width:50%; height:300px;"   class="img-responsive" alt="">
   </div>

   <div class="row">
    <h2 class="desc">{{image.name}}</h2>
    <p class="desc">{{image.description}}</p>
  </div>
  <div class="row">

    <div class="col-md-3 ">
        <h4>Location:</h4>
        <p>{{image.image_location.name}}</p>
        <h4>Category:</h4>
        <p>{{image.image_category.name}}</p>

     <p>Posted by {{image.image_editor.first_name}}</p>
   </div>

 </div>



 {% endblock %}
<hr>