{%extends 'base.html'%}
{% load bootstrap3 %}


{% block content %} 
{{ block.super}}


<div class="container">
<hr>

  <div class="row">
    {% for image in images %}
      <!-- displaying images -->
      <div class="portfolio-wrap ">
        <div class="btn-group">

          <div class="row containers">
            <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                    <img style="width:50%; height:300px;" id="imgCap"  src="{{image.pic.url}}" href="" class="image" alt="Image" >
                  
                    <div class="middle">
                      <hr>
                      <h4>{{image.name}}</h4>
                        <button type="button" class="open-modal" data-open="modal1">
                          View details of this Image.
                        </button>
                        <hr>
                    </div>
                </a>
            </div>
        </div>

      </div>
  </div>
  
    <hr>

    <div class="modal" id="modal1" data-animation="slideInOutLeft">
      <div class="modal-dialog">

        <div class="row" style="background-color: darkolivegreen;">
          <div class="col-md-9" style="text-align: center;">
            <h2 class="desc">{{image.name}}</h2>
          </div>
          <div class="col-md-2">
            </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <section class="modal-content">
              <a href="{% url 'single' category_name=image.image_category.name image_id=image.id %}">
              <img src="{{image.pic.url}}" class="img-thumbnail" alt="Image" style="cursor:pointer; width:100%; height:300px;"></a>

              <!-- <img style="width:50%; height:300px;"  src="{{image.pic.url}}" href="" class="image" alt="Image" > -->
            </section>
          </div>
          <div class="col-md-3">
            <h4 class = "desc">Location</h4>
            <p>{{image.image_location.name}}</p>
            <h4 class = "desc">Category</h4>
            <p>{{image.image_category.name}}</p>
          </div>
        </div>

        <div>
            <h2 class="desc">{{image.name}}</h2>
            <p class="desc">{{image.description}}</p>
        </div>

        <div class="modal-footer" style="background-color: darkolivegreen;">
            <!-- The text field -->
            <input type="text" value="{{image.pic.url}}" id="{{image.id}}.url">

            <!-- The button used to copy the text -->
            <button onclick="copy('{{image.id}}.url')">Copy image</button> 
            <button style="background-color: darkslategray; color: floralwhite;" class="close-modal btn btn-outline-danger btn-sm" type="button" aria-label="close modal" data-close>
            Close
          </button>

        </div>


      </div>
    </div>

    {% endfor %}

</div>





  
{% endblock %}



