{%extends 'base.html'%}


{% block content %} 
{{ block.super}}


<div class="container">
<hr>

  <div class="row">
    {% for image in images %}
      <!-- displaying images -->
      <div class="portfolio-wrap ">
        <div class="btn-group">

          <div class="row containers">
            <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                    <img style="width:50%; height:300px;" id="imgCap"  src="{{image.pic.url}}" href="" class="image" alt="Image" >
                  
                    <div class="middle">
                      <hr>
                      <h4>{{image.name}}</h4>
                        <button type="button" class="open-modal" data-open="modal1">
                          View details of this Image.
                        </button>
                        <hr>
                    </div>
                </a>
            </div>
        </div>

      </div>
  </div>
    <hr>

    <div class="modal" id="modal1" data-animation="slideInOutLeft">
      <div class="modal-dialog">

        <header class="modal-header">
          The header of the first modal
          <button class="close-modal" aria-label="close modal" data-close>
            ✕  
          </button>
        </header>
        <section class="modal-content">
          <a href="{% url 'single' category_name=image.image_category.name image_id=image.id %}">
          <img src="{{image.pic.url}}" class="img-thumbnail" alt="Image" style="cursor:pointer; width:50%; height:300px;"></a>

          <!-- <img style="width:50%; height:300px;"  src="{{image.pic.url}}" href="" class="image" alt="Image" > -->
        </section>
        <div class="col-md-3">
          <h4 class = "desc">Location</h4>
          <p>{{image.image_location.name}}</p>
          <h4 class = "desc">Category</h4>
          <p>{{image.image_category.name}}</p>
      </div>
      <div>
          <h2 class="desc">{{image.name}}</h2>
          <p class="desc">{{image.description}}</p>
      </div>

      <div class="modal-footer">
        <button id="{{image.id}}.url" class="btn btn-success btn-sm" onclick="myFunction('{{image.id}}.url')">Copy</button>
        <button class="close-modal btn btn-outline-danger btn-sm" type="button" aria-label="close modal" data-close>
          Close
        </button>

      </div>


      </div>
    </div>

  {% endfor %}

</div>



    


  
{% endblock %}



