{%extends 'base.html'%}
{% load static%}
{% block content %}

{{block.super}}

<!-- Landing Page -->

<div class="container wrap">

  <div class="banner-1">
    <div class="cover-1">
        <h2>The images are located in {{location.name}}</h2>
        <div class="container imageloc">
            <form class="form" role="search" action="{% url 'search_results' %}">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="&#xf3ee; Search by location"name="image_location">
                  <br>
                 </div>
            </form>
            <form class="form" role="search" action="{% url 'search_image' %}">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="&#xf3ee; Search by category"name="image_category">
                <br>
               </div>
          </form>

        </div>
    </div>
</div>
<hr>

    <!-- Looping through images -->
    <div class="row">
    {% for image in images %}
        <!-- displaying images-->
        <div class="col-xs-6 col-sm-6  col-md-4 col-lg-3">
          <div class="portfolio-wrap ">
              <div class="portfolio-wrap hovereffect">
                  <a class="img-overlay" data-toggle="modal" data-target="#{{image.id}}" style="width:100%">
                      <img style="width:100%; height:350px;" src="{{image.pic.url}}" href="" class="image" alt="Image" >
                      <div class="overlay">
                       <h2 class="desc">{{image.name}}</h2>
                       <p class="desc">{{image.description}}</p>

                       <div class="col-md-3">
                           <h4>Location</h4>
                           <p>{{image.image_location.name}}</p>
                           <h4>Category</h4>
                           <p>{{image.image_category.name}}</p>

                       </div>

                      </div>
                  </a>
              </div>
          </div>
      </div>
{% empty %}
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <img src="{% static 'images/sorry.png' %}" alt="" class = "oops">
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> Sorry no images for {{image.image_location.name}}. Images are comming soon.</h2>
        </div>
    </div>
    {% endfor %}
    <hr>

    <!-- Looping through image details modal -->
    {% for image in images %}
    <div class="modal" id="modal1" data-animation="slideInOutLeft">
        <div class="modal-dialog">
  
          <div class="row" style="background-color: darkolivegreen;">
            <div class="col-md-9" style="text-align: center;">
              <h2 class="desc">{{image.name}}</h2>
            </div>
            <div class="col-md-2">
              <button id="cancel" class="close-modal" aria-label="close modal" style=" padding-top: 25px;" data-close>
                ✕  
              </button>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-9">
              <section class="modal-content">
                <a href="{% url 'single' category_name=image.image_category.name image_id=image.id %}">
                <img src="{{image.pic.url}}" class="img-thumbnail img-overlay" alt="Image" style="cursor:pointer; width:100%; height:300px;"></a>
  
                <!-- <img style="width:50%; height:300px;"  src="{{image.pic.url}}" href="" class="image" alt="Image" > -->
              </section>
            </div>
            <div class="col-md-3">
              <h4 class = "desc">Location</h4>
              <p>{{image.image_location.name}}</p>
              <h4 class = "desc">Category</h4>
              <p>{{image.image_category.name}}</p>
            </div>
          </div>
  
          <div>
              <h2 class="desc">{{image.name}}</h2>
              <p class="desc">{{image.description}}</p>
          </div>
  
          <div class="modal-footer">
            <button id="{{image.id}}.url" class="btn btn-success btn-sm" onclick="myFunction('{{image.id}}.url')">Copy</button>
            <button class="close-modal btn btn-outline-danger btn-sm" type="button" aria-label="close modal" data-close>
              Close
            </button>
  
          </div>
  
  
        </div>
      </div>
      {% endfor %}
</div>
{% endblock %}
